.bg-container {
  /* padding: 20px; */
  padding-left: 150px;
  height: 80vh;
}
.courses-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.failure-view {
  width: 50%;
}
ul {
  padding: 0;
  margin: 0;
}
.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
