.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.course-details-container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px;
  margin-right: 100px;
  width: 60%;
  box-shadow: 0 1px 1px black; /* You can adjust the values as needed */
}
.content-container {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.course-name {
  color: #1e293b;
  font-size: 17px;
  font-weight: bold;
}
.course-description {
  color: #475569;
}
.image-icon {
  width: 200px;
}
.failure-view {
  width: 50%;
}
ul {
  padding: 0;
  margin: 0;
}
.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg-container {
  /* padding: 20px; */
  padding-left: 150px;
  height: 80vh;
}
